# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

#build and deployments
##hardhat framework
/packages/hardhat/deployments/*
/packages/hardhat/deploy/*
/packages/hardhat/contracts/*
##tronbox framework
/packages/tronbox/build/*
/packages/tronbox/contracts/*
